[alias]
    alias = config --get-regexp ^alias
    ; pretty log listing
    l = log --pretty=oneline --graph --abbrev-commit
    ll = log --graph --abbrev-commit
    lt = log --graph --abbrev-commit --tags
    ; minimal status
    s = status -s
    ss = status
    ; diff alias
    d = diff
    ds = diff --staged
    dt = difftool -y
    dts = difftool -y --staged
    dpreview = !git-diff-previewer
    ; nicities
    b = branch
    c = commit
    a = add -v
    au = add -uv
    co = checkout
    p = push
    pl = pull
    amend = commit --amend
    stl = stash list
    ; its all fuzzy
    f = fuzzy
    fs = fuzzy status
    ; get link of the repo
    link = !git-link
    ; create temp wip commit
    wip = !"f() { git commit -am '[WIP]' && git commit --amend --quiet; }; f"
    ; remove last commit stage the changes
    uncommit = reset --soft HEAD^
    ; remove last commit and unstage the changes
    undo-commit = reset --mixed HEAD^
    ; remove untracked changes
    restore-file-2-staged = restore --worktree
    ; restore file to HEAD
    restore-file-2-head = restore --staged --worktree
    ; rebase
    rb = rebase
    rbi = rebase --interactive
    rba = rebase --abort

[core]
    pager = delta
    editor = nvim
    excludesfile = ~/.gitignore

[pager]
    diff = delta --side-by-side
    d = delta --side-by-side
    ds = delta --side-by-side

[color]
    ui = auto

[difftool]
    prompt = true

[diff]
    tool = nvimdiff
    colorMoved = default

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[help]
    autocorrect = 0

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false # required for git 2.37.0

[include]
    path = ~/.git-delta_themes.config

[delta]
    features = calochortus-lyallii
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = false

[merge]
    conflictstyle = diff3

[init]
    defaultBranch = main
