# Ignore Everything
*

# Do not ignore contents in these folders
!alacritty
!bin
!git
!nvim
!wezterm
!wezterm/wezterm-server.lua
!zsh
!.gitignore
!README.md

# Ignore some "inner" files in the above listed folders
.zcompdump
.zsh_history
.zsh_sessions/
zsh-autosuggestions/
zsh-syntax-highlighting/
nvim/lazy-lock.json
